*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  margin: auto;
  gap: 30px;
  inline-size: 1140px;
  object-fit: cover;
  object-position: center;
}

.result {
  inline-size: 100%;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  max-height: 386px;
  margin-bottom: 15px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: center;
  height: 54px;
  gap: 40px;
  justify-content: space-between;
}

/* где Город Время суток, Утро, чек боксы */
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  inline-size: inherit;
  position: relative;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*название Город, время суток*/
.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*С-П например*/
.search-form__textfield {
  appearance: none;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  inline-size: 225px;
}

.search-form__textfield:active {
 outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/*квадраты с чекбокса*/
.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  background-color: #ffff;
  inline-size: 15px;
  block-size: 15px;
  margin: 2px;
  position: relative;
}

.button {
  display: flex;
  block-size: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*найти*/
.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

/*Показать еще*/
.more-button {
  width: 100%;
}

/*блок с посмотри в окно и видео*/

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  max-width: 260px;
  margin-bottom: 26px;
}

/*по*/
.content__accent {
  color: #545050;
  font-size: 75px;
}

/*карточки с видео*/

.content__list {
  position: relative;
  overflow: auto;
  flex-direction: column;
   min-width: 399px;
  max-height: 298px; 
  }

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  inline-size: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  max-width: 200px;
  }

.content__video-card-description {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 16.2px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  }
